.boxes {
  width: 600px;
  margin: 0 auto;
  background-color: yellow;
  display: flex;
  justify-content: center;
}

.box1 {
  width: 150px; /* 横幅いっぱい */
  height: 400px; /* 高さ120px */
  background-color: orange;
}

.box2 {
  width: 250px;
  height: 400px;
  background-color: red;
}
